<template>
  <div class="container mx-auto">
    <div id="QueueSetter__app" class="form-group container">
      <label for="textfield-id" class="container mx-auto row">Введите название очереди</label>
      <input type="text" name="textfield-name" id="textfield-id" placeholder="Default" class="container row form-control mx-auto">
      <br>
      <button @click="persist" type="button" class="btn btn-info mx-auto container row">Перейти в другую очередь</button>
      <hr/>
      <button @click="deleteQueue" type="button" class="btn btn-danger mx-auto container row">Удалить текущую очередь</button>
    </div>
    <hr/>
    <div class="form-group container">
      <label for="textfield2-id" class="container mx-auto row">Введите название очереди</label>
      <input type="text" name="textfield2-name" id="textfield2-id" placeholder="Новая очередь" class="container row form-control mx-auto">
      <br>
      <button @click="createQueue" type="button" class="btn btn-success mx-auto container row">Создать</button>
    </div>
  </div>
</template>

<script>

export default {
  name: "QueueSetter",
  data() {
    return {
      queueName: 'Default'
    }
  },
  methods: {
    persist() {
      let name = document.getElementById('textfield-id').value;

      fetch(`http://80.87.96.226:8082/manage/isExist/` + name, {method: 'GET'})
      .then(res => {
        return res.json();
      }).then(a => {
        this.persistAdd(a);
      });
    },
    persistAdd(test) {
      if(test) {
        this.$root.queueName = document.getElementById('textfield-id').value;
        this.queueName = this.$root.queueName;
        this.$emit('changeQueue');
      } else {
        document.getElementById('textfield-id').value = this.queueName;
        alert("Такой очереди не существует, вернул в " + this.queueName);
      }
    },
    createQueue() {
      fetch(`http://80.87.96.226:8082/manage/isExist/` + name, {method: 'GET'})
          .then(res => {
            return res.json();
          }).then(a => {
            if(a) {
              let name = document.getElementById('textfield2-id').value;
              let data = {};
              data.queueName = name;
              document.getElementById('textfield-id').value = name;
              fetch(`http://80.87.96.226:8082/manage/createQueue/?queueName=` + name, {
                method: 'POST'
              }).then(() => {
                this.persist();
              });
            } else {
              alert('Такая очередь уже существует. Перевожу в неё');
              document.getElementById('textfield-id').value = document.getElementById('textfield2-id').value;
              this.persist();
            }
      });
    },
    deleteQueue() {
      if (confirm("Вы точно хотите удалить очередь " + this.queueName)) {
        fetch('http://80.87.96.226:8082/manage/deleteQueue?queueName=' + this.queueName, {
          method: 'DELETE'
        }).then(() => {
          alert("Вы переведены в очередь Default, т.к. старая была удалена")
          document.getElementById('textfield-id').value = 'Default';
          this.persist();
        });
      }
      else {
        alert("Вы вернулись в очередь " + this.queueName);
      }
    }
  }
}
</script>

<style scoped>

</style>