<template>
  <div class="queue_container">
    <div class="queue__content">
      <div class="mx-auto">
        <h5>Очередь</h5>
        <br>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Имя</th>
          <th scope="col">Талон</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id" class="queue__item">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.identifier }}</td>
          </tr>
<!--          <p>{{ user.name }}</p>-->
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Queue',
  props: {
    queueName: {
      type: String,
      required: true
    },
    users: {
      type: Array,
      required: true
    }
  }
}
</script>

<style>
.queue_container {
  width: 200px;
}

.queue__header, .queue__content {
  display: flex;
  justify-content: center;
}

.queue__content {
  flex-direction: column;
  align-items: center;
}

.queue__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queue__qr {
  display: block;
  width: 170px;
  height: 170px;
}
</style>