<template>
  <div class="selected_user">
    <div class="selected_user__header">
      <div class="container mx-auto">
        <div class="row mx-auto">
          <a href="http://qrcoder.ru" target="_blank" class="mx-auto">
            <img :src="this.qrCodePath"
                 class="selected_user__qr"
                 title="QR код">
          </a>
        </div>
<!--        <div class="row mx-auto">-->
<!--          <h4>Очередь</h4>-->
<!--        </div>-->
        <div class="row mx-auto">
          <div class="selected_user__btns container mx-auto">
            <button @click="next" type="button" class="mx-auto btn btn-info">Следующий</button>
          </div>
        </div>
        <hr/>
        <div class="row mx-auto">
          <div class="mx-auto selected_user__content">
            <div class="selected_user__header">
              <p>Текущий пользователь</p>
            </div>
            <div class="selected_user__info">
              <p class="selected_user__username">{{name}}</p>
              <p>{{identifier}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SelectedUser",
  props: {
    queueName: {
      type: String,
      required: true
    }
  },
  computed: {
    qrCodePath() {
      return `http://qrcoder.ru/code/?${this.queueName}&6&0`;
    }
  },
  data() {
    return {
      identifier: 'В очереди никого',
      name: ''
    }
  },
  methods: {
    next() {
      fetch(`http://80.87.96.226:8082/manager/${this.queueName}/next`, {
        method: 'POST'
      }).then(() => {
        this.$emit('next');
        this.current();
      });
    },
    current() {
      fetch(`http://80.87.96.226:8082/manager/${this.queueName}/current`, {
        method: 'GET'
          }).then(res => {
            if(res.ok) {
              return res.json();
            } else {
              let ret = {};
              ret.identifier = 'В очереди никого';
              ret.name = '';
              return ret;
            }
      }).then(u => {
        this.identifier = u.identifier;
        this.name = u.name;
      });
      setTimeout(() => this.current(),2500);
    }
  },
  beforeMount() {
    this.current();
  }
}
</script>

<style scoped>
.selected_user {
  width: 300px;
}
.selected_user__header, .selected_user__info, .selected_user__btns {
  display: flex;
  justify-content: center;
}
.selected_user__username {
  margin-right: 15px;
}
</style>