<template>
  <div id="app" class="container wrap-login100" style="background-color: white">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-4 align-right">
          <SelectedUser
              :queueName="queueName"
              @next="getUsers"
          />
        </div>
        <div class="mx-auto col-4 align-left">
          <Queue
              :queue-name="queueName"
              :users="users"
          />
        </div>
      </div>
      <hr/>
      <div class="row col-5 mx-auto">
        <QueueSetter
            :queue-name="queueName"
            @changeQueue="changeQueue"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Queue from "./components/Queue";
import SelectedUser from "./components/SelectedUser";
import QueueSetter from "./components/QueueSetter";

export default {
  name: 'App',
  components: {
    QueueSetter,
    Queue,
    SelectedUser
  },
  data() {
    return {
      users: [],
      queueName: 'Default'
    }
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      fetch(`http://80.87.96.226:8082/manager/${this.queueName}`, {
        method: 'GET'
      }).then(res => res.json())
          .then(users => {
            this.users = users;
          });
      setTimeout(() => this.getUsers(),2500);
    },
    changeQueue() {
      // console.warn(this.$root.queueName)
      this.queueName = this.$root.queueName;
    }
  }
}
</script>

<style>
#app {
  display: flex;
  justify-content: center;
}
.wrap-login100 {
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   padding: 77px 55px 33px 55px;
   box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
   align-items: center;
   -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
   -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
   -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
 }
</style>